/*
GAS ACC 2020-12 - new CI
 */
@font-face {
  font-family: Ubuntu;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
.cursor-pointer {
  cursor: pointer;
}

html, body {
  height: 100%;
  background-color: #cccccc;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus,
input, input:hover, input:active, input:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

a.nav-current-active, .current-active {
  background-color: #2da097 !important;
  color: black !important;
}

.label-tec {
  display: block;
  padding: 0;
  margin-top: 7px;
  font-size: 0.9em;
  font-family: "Courier New", Monospaced, SansSerif, sans-serif;
  color: #992100;
}

.label {
  font-size: 0.9em;
  font-family: "Courier New", Monospaced, SansSerif, sans-serif;
  color: #992100;
}

.label-tec-inline {
  float: left;
  padding-top: 6px;
  display: inline;
  font-size: 0.9em;
  font-family: "Courier New", Monospaced, SansSerif, sans-serif;
  color: #992100;
}

input:read-only, select:disabled, textarea:read-only, .cb-read-only {
  background-color: #bbbbbb;
  color: black !important;
}

.ck-editor__editable {
  min-height: 240px;
}

.w3-select {
  display: inline-block;
}

.w3-button, .w3-button-pseudo {
  font-family: "Courier New", Monospaced, SansSerif, sans-serif;
}

.cb-input-group {
  width: 400px;
}

.cb-black {
  color: #eee !important;
  background-color: #333 !important;
}

.cb-primary {
  color: #eee !important;
  background-color: #2d89ef !important;
}

.cb-primary-transparent {
  color: #eee !important;
  background-color: rgba(45, 137, 239, 0.3) !important;
}

.cb-warning {
  color: #000 !important;
  background-color: #ff4000 !important;
}

.cb-warning-text {
  color: #ff4000 !important;
  background-color: transparent !important;
  font-weight: bold;
}

.cb-danger {
  color: #000 !important;
  background-color: #ff1100 !important;
}

.cb-secondary {
  /* standard */
  color: #333 !important;
  background-color: #2da097 !important;
}

.cb-secondary-transparent {
  color: #333 !important;
  background-color: rgba(45, 160, 151, 0.3) !important;
}

.cb-info {
  color: #333 !important;
  background-color: #d3edf8 !important;
}

.cb-actionfields {
  color: #333 !important;
  background-color: #ffe680 !important;
}

.cb-success {
  color: #333 !important;
  background-color: #008000 !important;
}

.cb-inactive {
  color: #9d9d9c !important;
  background-color: #eee !important;
  border: 1px solid #2da097;
}

/*# sourceMappingURL=style.css.map */
