/*
GAS ACC 2020-12 - new CI
 */
$color-brand: #ff4814; // GAS ACC 2020-12
$color-brand-light: #ffaf99;
$color-brand-dark: #992100;
$color-brand-transparent: rgba(255, 72, 20, 0.3);
$color-brand-light-transparent: rgba(255, 175, 153, 0.3);

$color-black: #333;
$color-white: #eee;
$color-grey-light: #9d9d9c; // GAS ACC 2020-12 - new CI
$color-grey-light-dark: #999;
$color-grey-dark: #666;
$color-grey-darker: #333;

$color-primary: #2d89ef;
$color-primary-transparent: rgba(45, 137, 239, 0.3);
$color-secondary: #2da097;
$color-secondary-transparent: rgb(45, 160, 151, 0.3);
$color-success: #008000;
$color-success-transparent: rgba(0, 128, 0, 0.2);
$color-warning: #ff4000;
$color-danger: #ff1100;
$color-info: #d3edf8;
$color-action: #ffe680;

$background-color: #cccccc;
$background-color-header-default: $color-grey-dark;
$background-color-header-second: $color-grey-light;
$color-header-default: $color-brand-dark;

$font-family-sans01: "Courier New", Monospaced, SansSerif, sans-serif;

@font-face {
  font-family: Ubuntu;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

.cursor-pointer {
  cursor: pointer;
}

html, body {
  height: 100%;
  background-color: $background-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus,
input, input:hover, input:active, input:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

a.nav-current-active, .current-active {
  background-color: $color-secondary !important;
  color: black !important;
}

.label-tec {
  display: block;
  padding: 0;
  margin-top: 7px;
  font-size: 0.9em;
  font-family: $font-family-sans01;
  color: $color-header-default;
}

.label {
  font-size: 0.9em;
  font-family: $font-family-sans01;
  color: $color-header-default;
}

.label-tec-inline {
  float: left; // w3-col Ersatz
  padding-top: 6px;
  display: inline;
  font-size: 0.9em;
  font-family: $font-family-sans01;
  color: $color-header-default;
}

input:read-only, select:disabled, textarea:read-only, .cb-read-only {
  background-color: #bbbbbb;
  color: black !important;
}

.ck-editor__editable {
  min-height: 240px;
}

.w3-select {
  display: inline-block;
}

.w3-button, .w3-button-pseudo {
  font-family: $font-family-sans01;
}

.cb-input-group {
width: 400px;
}



.cb-black {
  color: $color-white !important;
  background-color: $color-black !important;
}

.cb-primary {
  color: $color-white !important;
  background-color: $color-primary !important;
}

.cb-primary-transparent {
  color: $color-white !important;
  background-color: $color-primary-transparent !important;
}

.cb-warning {
  color: #000 !important;
  background-color: $color-warning !important;
}

.cb-warning-text {
  color: $color-warning !important;
  background-color: transparent !important;
  font-weight: bold;
}

.cb-danger {
  color: #000 !important;
  background-color: $color-danger !important;
}

.cb-secondary { /* standard */
  color: $color-black !important;
  background-color: $color-secondary !important;
}

.cb-secondary-transparent {
  color: $color-black !important;
  background-color: $color-secondary-transparent !important;
}

.cb-info {
  color: $color-black !important;
  background-color: $color-info !important;
}

.cb-actionfields {
  color: $color-black !important;
  background-color: $color-action !important;
}

.cb-success {
  color: $color-black !important;
  background-color: $color-success !important;
}

.cb-inactive {
  color: $color-grey-light !important;
  background-color: $color-white !important;
  border: 1px solid $color-secondary;
}
