<div class="w3-row">

  <div class="w3-col l4 m4">
    <h3>Cost add</h3>

    <form class="w3-row" (ngSubmit)="insertCost()">

      <div class="cb-input-group">
        <label for="cost_type" class="label-tec">Kosten Typ</label>
        <select [(ngModel)]="cost.cost_type" id="cost_type" name="cost_type" class="w3-select">
          <option *ngFor="let costType of costTypes" [value]="costType">{{costType}}</option>
        </select>
      </div>

      <div class="cb-input-group">
        <label for="cost_label" class="label-tec">Label</label>
        <input [(ngModel)]="cost.cost_label" id="cost_label" name="cost_label" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="cost_net" class="label-tec">Netto</label>
        <input [(ngModel)]="cost.cost_net" (change)="cost.calculateGross()" id="cost_net" name="cost_net" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="cost_taxp" class="label-tec">Ums.-St. %</label>
        <input [(ngModel)]="cost.cost_taxp" (change)="cost.calculateGross()" id="cost_taxp" name="cost_taxp" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="cost_gross" class="label-tec">Brutto</label>
        <input [(ngModel)]="cost.cost_gross" id="cost_gross" name="cost_gross" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="cost_date" class="label-tec">Datum</label>
        <!--    <input [(ngModel)]="cost.cost_date" id="cost_date" class="w3-input">-->
        <dp-date-picker [config]="datePickerConf" [(ngModel)]="cost.cost_date" id="cost_date" name="cost_date" class="w3-input"></dp-date-picker>
      </div>

      <div class="cb-input-group">
        <label for="cost_docno" class="label-tec">Beleg Nr.</label>
        <input [(ngModel)]="cost.cost_docno" id="cost_docno" name="cost_docno" class="w3-input">
      </div>

      <br>
      <button type="submit" class="w3-button cb-primary">insert Cost</button>

    </form>
  </div>

  <div class="w3-col l8 m8">
    <table>
      <tr>
        <td>
          <label for="date_from" class="label-tec">von</label>
          <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateFrom" id="date_from" name="date_from" class="w3-input"></dp-date-picker>
        </td>
        <td>
          <label for="date_to" class="label-tec">bis</label>
          <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateTo" id="date_to" name="date_to" class="w3-input"></dp-date-picker>
        </td>
        <td>
          <div>&nbsp;</div>
          <button (click)="loadSummary()">load</button>
        </td>
      </tr>
    </table>

    <table class="w3-table w3-table-all">
      <thead>
      <tr>
        <th>Typ</th>
        <th>Label</th>
        <th>Netto</th>
        <th>Ums.-St.</th>
        <th>Brutto</th>
        <th>Datum</th>
        <th>Beleg</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cs of costSummarys">
        <td>{{cs.cost_type}}</td>
        <td>{{cs.cost_label}}</td>
        <td>{{cs.cost_net | number:'1.2-2'}}</td>
        <td>{{cs.cost_gross - cs.cost_net | number:'1.2-2'}}&nbsp;({{cs.cost_taxp}})</td>
        <td>{{cs.cost_gross | number:'1.2-2'}}</td>
        <td>{{cs.cost_date}}</td>
        <td>{{cs.cost_docno}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
