<div class="w3-bar w3-black">
  <a [routerLink]="['home']" class="w3-bar-item w3-button w3-mobile" routerLinkActive="nav-current-active">home</a>
  <a [routerLink]="['earn/add']" class="w3-bar-item w3-button w3-mobile" routerLinkActive="nav-current-active">earn-add</a>
  <a [routerLink]="['cost/add']" class="w3-bar-item w3-button w3-mobile" routerLinkActive="nav-current-active">cost-add</a>
  <a [routerLink]="['report/create']" class="w3-bar-item w3-button w3-mobile" routerLinkActive="nav-current-active">report</a>

  <div class="w3-bar-item label-tec-inline">Client: {{client.label}}</div>

  <div class="w3-dropdown-click w3-mobile w3-right">
    <button class="w3-button" (click)="dropdownClick('topnav_user')">{{userService.getUsername()}}</button>
    <div class="w3-dropdown-content w3-bar-block w3-border" id="topnav_user" style="right:0">
      <button *ngIf="isLoggedIn()" (click)="logout()" class="w3-bar-item w3-button w3-mobile"><i class="fas fa-sign-out-alt"></i> logout</button>
      <button *ngIf="!isLoggedIn()" (click)="goToLogin()" class="w3-bar-item w3-button w3-mobile"><i class="fas fa-sign-out-alt"></i> login</button>
    </div>
  </div>
  <div class="w3-right">
    <button *ngFor="let item of schema" (click)="setLocale(item.locale)" class="w3-bar-item w3-button w3-mobile">{{ item.locale.language }}</button>
  </div>
</div>
<div class="w3-padding">
  <router-outlet></router-outlet>
</div>
<app-message-alert></app-message-alert>

<div *ngIf="isLoading" id="overlay">
  <!--  <svg class="spinner" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">-->
  <!--        <circle id="path" cx="50" cy="50" r="42" fill="none" stroke-width="5"></circle>-->
  <!--  </svg>-->
  <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 532 532">
    <g id="path" transform="translate(221.462)">
      <circle cx="44.538" cy="266.293" r="44.538"/>
      <path
        d="M44.537 194.901c9.11 0 17.84 1.65 25.917 4.655 5.783-26.133 9.468-58.797 9.468-89.663 0-41.037-5.271-68.672-12.779-84.85C63.187 16.516 54.555 10.6 44.538 10.6c-10.017 0-18.649 5.916-22.605 14.441-7.508 16.18-12.779 43.813-12.779 84.851 0 30.866 3.685 63.531 9.468 89.663a74.131 74.131 0 0125.915-4.655zM67.144 507.56c7.508-16.18 12.779-43.814 12.778-84.851 0-30.87-3.686-63.539-9.47-89.672-17.052 6.334-35.445 6.036-51.823-.024-5.788 26.138-9.475 58.817-9.475 89.696 0 41.037 5.271 68.671 12.78 84.85 3.956 8.526 12.587 14.44 22.604 14.441 10.018 0 18.65-5.915 22.606-14.44z"/>
    </g>
  </svg>
</div>
