<h3>login</h3>
<form (ngSubmit)="login()" id="login-form">
<input type="text" name="login" id="input-login" class="w3-input" placeholder="user" [(ngModel)]="user">
<br>
<input type="password" name="passwd" id="input-passwd" class="w3-input" placeholder="password" [(ngModel)]="passwd">
<br>
<button type="submit" class="w3-button w3-gray">login</button>
