<div class="w3-row">

  <div class="w3-col l4 m4">
    <h3>Earn add</h3>

    <form class="w3-row" (ngSubmit)="insertCost()">

      <div class="cb-input-group">
        <label for="earn_label" class="label-tec">Label</label>
        <input [(ngModel)]="earn.earn_label" id="earn_label" name="earn_label" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="earn_net" class="label-tec">Netto</label>
        <input [(ngModel)]="earn.earn_net" (change)="earn.calculateGross()" id="earn_net" name="earn_net" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="earn_taxp" class="label-tec">Ums.-St. %</label>
        <input [(ngModel)]="earn.earn_taxp" (change)="earn.calculateGross()" id="earn_taxp" name="earn_taxp" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="earn_gross" class="label-tec">Brutto</label>
        <input [(ngModel)]="earn.earn_gross" id="earn_gross" name="earn_gross" class="w3-input">
      </div>

      <div class="cb-input-group">
        <label for="earn_date" class="label-tec">Datum</label>
        <dp-date-picker [config]="datePickerConf" [(ngModel)]="earn.earn_date" id="earn_date" name="earn_date" class="w3-input"></dp-date-picker>
      </div>

      <div class="cb-input-group">
        <label for="earn_docno" class="label-tec">Beleg Nr.</label>
        <input [(ngModel)]="earn.earn_docno" id="earn_docno" name="earn_docno" class="w3-input">
      </div>

      <br>
      <button type="submit" class="w3-button cb-primary">insert Earn</button>

    </form>
  </div>

  <div class="w3-col l8 m8">
    <table>
      <tr>
        <td>
          <label for="date_from" class="label-tec">von</label>
          <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateFrom" id="date_from" name="date_from" class="w3-input"></dp-date-picker>
        </td>
        <td>
          <label for="date_to" class="label-tec">bis</label>
          <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateTo" id="date_to" name="date_to" class="w3-input"></dp-date-picker>
        </td>
        <td>
          <div>&nbsp;</div>
          <button (click)="loadSummary()">load</button>
        </td>
      </tr>
    </table>

    <table class="w3-table w3-table-all">
      <thead>
      <tr>
        <th>Label</th>
        <th>Netto</th>
        <th>Ums.-St.</th>
        <th>Brutto</th>
        <th>Datum</th>
        <th>Beleg</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let es of earnSummarys">
        <td>{{es.earn_label}}</td>
        <td>{{es.earn_net | number:'1.2-2'}}</td>
        <td>{{es.earn_gross - es.earn_net | number:'1.2-2'}}&nbsp;({{es.earn_taxp}})</td>
        <td>{{es.earn_gross | number:'1.2-2'}}</td>
        <td>{{es.earn_date}}</td>
        <td>{{es.earn_docno}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
