<div>
  <table>
    <tr>
      <td>
        <label for="date_from" class="label-tec">von</label>
        <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateFrom" id="date_from" name="date_from" class="w3-input"></dp-date-picker>
      </td>
      <td>
        <label for="date_to" class="label-tec">bis</label>
        <dp-date-picker [config]="datePickerConf" [(ngModel)]="dateTo" id="date_to" name="date_to" class="w3-input"></dp-date-picker>
      </td>
      <td>
        <label class="label-tec">&nbsp;</label>
        <button (click)="createReport()" class="w3-button cb-primary">create</button>
      </td>
      <td>
        <label class="label-tec">&nbsp;</label>
        <a href="{{apiUrl}}/cashbook-report-create-taxpre-pdf?client_uuid={{clientUuid}}&date_from={{dateFrom}}&date_to={{dateTo}}&hash={{sessionHash}}"
           target="_blank" class="w3-button cb-primary">PDF</a>
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="w3-table w3-table-all">
    <thead>
    <tr>
      <th colspan="7" class="w3-center">{{'Einnahmen'| translate:locale.language }}</th>
    </tr>
    <tr>
      <th>Label</th>
      <th>Netto</th>
      <th>Ums.-St.</th>
      <th>%</th>
      <th>Brutto</th>
      <th>Datum</th>
      <th>Beleg</th>
    </tr>
    </thead>
    <tbody>
    <ng-template [ngIf]="report.list_earn">
      <tr *ngFor="let es of report.list_earn">
        <td>{{es.earn_label}}</td>
        <td>{{es.earn_net | l10nNumber:locale.language:{digits: '1.2-2'} }}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}" [title]="es.earn_taxp">{{es.earn_gross - es.earn_net}}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}">{{es.earn_taxp}}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}">{{es.earn_gross}}</td>
        <td>{{es.earn_date}}</td>
        <td>{{es.earn_docno}}</td>
      </tr>
      <tr *ngFor="let se of report.sum_earn">
        <th></th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{se.sum_net}}</th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{se.sum_gross - se.sum_net}}</th>
        <th></th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{se.sum_gross}}</th>
        <th colspan="2"></th>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>

<div>
  <table class="w3-table w3-table-all">
    <thead>
    <tr>
      <th colspan="8" class="w3-center">{{'Ausgaben'| translate:locale.language }}</th>
    </tr>
    <tr>
      <th>Typ</th>
      <th>Label</th>
      <th>Netto</th>
      <th>Ums.-St.</th>
      <th>%</th>
      <th>Brutto</th>
      <th>Datum</th>
      <th>Beleg</th>
    </tr>
    </thead>
    <tbody>
    <ng-template [ngIf]="report.list_cost">
      <tr *ngFor="let cs of report.list_cost">
        <td>{{'costType.' + cs.cost_type| translate:locale.language:{ } }}</td>
        <td>{{cs.cost_label}}</td>
        <td>{{cs.cost_net | l10nNumber:locale.language:{digits: '1.2-2'} }}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}" [title]="cs.cost_taxp">{{cs.cost_gross - cs.cost_net}}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}">{{cs.cost_taxp}}</td>
        <td l10nNumber [options]="{ digits: '1.2-2'}">{{cs.cost_gross}}</td>
        <td>{{cs.cost_date}}</td>
        <td>{{cs.cost_docno}}</td>
      </tr>
      <tr *ngFor="let sc of report.sum_cost">
        <th>{{'costType.' + sc.cost_type| translate:locale.language}}</th>
        <th></th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{sc.sum_net}}</th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{sc.sum_gross - sc.sum_net}}</th>
        <th></th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{sc.sum_gross}}</th>
        <th colspan="2"></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th l10nNumber [options]="{ digits: '1.2-2'}">{{taxsSum}}</th>
        <th></th>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
